---
const pageTitle = "Home";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Welcome to my Astro blog!</p>
  <p>This is a simple blog built with Astro.</p>
</BaseLayout>
